In [1]:
#Importing Libraries
import pandas as pd
import numpy as np

In [2]:
#importing the test data
df = pd.read_excel('test_data.xlsx')

In [3]:
#Overview of data
df.head()

        Date     Location                                            Reviews
0 2019-08-20    Sebastian  I was very impressed with the resort.\nGreat s...
1 2019-08-20  Los Angeles  The rooms were nice the outside needs work als...
2 2019-08-20      Georgia  Great location! I have stayed at this hotel on...
3 2019-08-20          NaN  The hotel was adequate for my stay. The strips...
4 2019-08-19  Palm Harbor  Great location, room was large and spacious. P...

In [5]:
#Importing NLTK library to do sentiment analysis

import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer

sid = SentimentIntensityAnalyzer()

import re
import nltk
nltk.download('words')
words = set(nltk.corpus.words.words())

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\91784\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\91784\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

In [6]:
#analyzing the reviews with SID module for first row

sentence = df['Reviews'][0]
sid.polarity_scores(sentence)['compound']

0.9421

In [7]:
#Storing the sentiment for all rows in a new list

list1 = []
for i in df['Reviews']:
    list1.append((sid.polarity_scores(str(i)))['compound'])

In [8]:
#creating a function to categorize the sentiment in Positive/Negative/Neutral

df['sentiment'] = pd.Series(list1)

def sentiment_category(sentiment):
    label = ''
    if(sentiment>0):
        label = 'positive'
    elif(sentiment == 0):
        label = 'neutral'
    else:
        label = 'negative'
    return(label)

df['sentiment_category'] = df['sentiment'].apply(sentiment_category)

In [9]:
#Overview of new data
df.head()

,Date,Location,Reviews,sentiment,sentiment_category
0,2019-08-20,Sebastian,I was very impressed with the resort.\nGreat s...,0.9421,positive
1,2019-08-20,Los Angeles,The rooms were nice the outside needs work als...,0.8360,positive
2,2019-08-20,Georgia,Great location! I have stayed at this hotel on...,0.6588,positive
3,2019-08-20,NaN,The hotel was adequate for my stay. The strips...,0.3634,positive
4,2019-08-19,Palm Harbor,"Great location, room was large and spacious. P...",0.9260,positive

In [10]:
#Dividing the data into 2 Parts and grouping them by date

neg = df[df['sentiment_category']=='negative']
neg = neg.groupby(['Date'],as_index=False).count()

pos = df[df['sentiment_category']=='positive']
pos = pos.groupby(['Date'],as_index=False).count()

In [11]:
neg

          Date  Location  Reviews  sentiment  sentiment_category
0   2018-08-01         0       12         12                  12
1   2018-08-02         0        2          2                   2
2   2018-08-03         0        2          2                   2
3   2018-08-04         1        2          2                   2
4   2018-08-05         1        2          2                   2
..         ...       ...      ...        ...                 ...
342 2019-08-13         3        4          4                   4
343 2019-08-14         2        2          2                   2
344 2019-08-17         5        6          6                   6
345 2019-08-18         5        5          5                   5
346 2019-08-19         1        1          1                   1

[347 rows x 5 columns]

In [12]:
#Saving the final data into excel
df.to_excel('test_data_5.xlsx')

In [13]:
#credits : https://www.natasshaselvaraj.com/twitter-sentiment-analysis-with-python/